
body{
    
    height: 100vh;
    width: 100vw;
    background-color: rgb(202, 202, 204);   
    overflow: scroll;
}

.navbar{
    height: 10vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px ;
    border: 5px solid goldenrod;
    background-color: black;
    border-radius: 10px;
    
}

.navbar img{
    width: 200px;
}

.anclas{
    display: flex;
    gap: 10px;

}
.anclas a {
    color: goldenrod;
    text-decoration: none;
    font-size: larger;
    
}

.navbutton{
    display: flex;
    gap: 10px;
}
.navbutton button{
    border: 2px solid goldenrod;
    background-color: transparent;
    color: goldenrod;
    font-size: large;
}

footer{
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: medium;
    gap: 10px;
    width: 98vw;
    
}
.h1s{
    color: goldenrod;
    display: flex;
    justify-content: center;
}
.imagen1{
    display: flex;
    justify-self: center;
    justify-content: center;
    gap:  10px;

}
.InicioDInicio{
    border-bottom: 2px solid goldenrod;
}
.p1{
    font-size: large;
}